$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  background: #ccc;
  padding: 0.2em;
}

.flights {
  padding: 0;
  list-style-type: none;
}